@{
    var rutina = (Rutine)Model;
}

<h1>Crear Cuenta</h1>


<form action="/ExamenT3/crearRutina" enctype="multipart/form-data" method="post">

    

    Nombre <input type="text" name="Nombre" />
    Tipo <input type="text" name="Tipo" />
    

   
   
    <button>Guardar</button>

</form>
