@{ 
    var user = (User)Model;
}

<h1>LOGIN DE USUARIO----</h1>
<h1>Iniciar Sesion</h1>
<form action="/ExamenT3/login" method="post">
    Ingrese Username<input type="text" name="username" class="form-control" />
    Ingrese Contraseña<input type="password" name="contraseña" class="form-control" />
                     
    <button class="btn btn-primary boton">Ingresar</button>
</form>